main {
	width: 90%;
	max-width: 1100px;
	margin: 20px auto 40px;
}

#service-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	border: 1px solid var(--form-box-border-color);
	border-radius: var(--form-box-border-radius);
	background-color: var(--primary-color);
}

header h1 {
	font-size: var(--nexus-header-h2-font-size);
	margin-bottom: 10px;
}

body > h1 {
	text-align: center;
	margin: 20px 0 10px;
	font-size: var(--nexus-header-h2-font-size);
}

body > p {
	width: 60%;
	text-align: center;
	margin: 20px auto;
	color: var(--font-color);
	font-size: var(--font-size-sm);
}

#service-tags {
	text-align: center;
	margin: 10px 0 20px;
}

.tag {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 5px;
	border: 1px solid var(--form-box-border-color);
	border-radius: var(--form-box-border-radius);
	background-color: var(--input-background-color);
	color: var(--font-color);
	font-size: var(--font-size-sm);
}

#weather-form {
    justify-content: center;
    align-items: center;
}

#weather-form input {
    height: 30px;
}

#weather-form input,
#weather-form button {
    padding: 2px 2px;
}

#weather-form button {
    height: 40px;
    font-size: var(--font-size-sm);
}

#weather-summary {
	padding: 12px 14px;
	border: 1px solid var(--form-box-border-color);
	border-radius: var(--form-box-border-radius);
	background-color: var(--input-background-color);
	color: var(--Neutral-color);
}