#markdown-viewer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#markdown-viewer div {
    width: 48%;
    display: flex;
    flex-direction: column;
}

#markdown-viewer div label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--font-color);
}

#markdown-viewer div #md-input {
    width: 100%;
    height: 80vh;
    resize: none;
    padding: var(--input-padding);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
    background-color: var(--background-color);
    color: var(--text-color);
}

#markdown-viewer div #md-preview {
    width: 100%;
    height: 80vh;
    resize: none;
    overflow: auto;
    padding: var(--input-padding);
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
    color: var(--text-color);
}

#md-preview {
    background-color: var(--primary-color);
}